<div class="content">
    <div class="row">
        <div class="span14">
            <h3>ID Field specification</h3>
            <p>
                The <code>id</code> field is the only mandatory field
                for UpCloo technology. This is the main seed used for all
                C.R.U.D. (Create, Retrive, Update, Delete) operations.
            </p>
            <p>
                This field is typed as a <strong>general string</strong> without any limit if not
                the minimun length is one character.
            </p>
        </div>
    </div>
</div>