<div class="content">
    <div class="row">
        <div class="span12">
            <h1>Enable Remote Importer</h1>
            <p>
                UpCloo remote importer is the technique used for crawl all
                your pages using sitemap and import all your contents for
                generate the first correlation/search index.
            </p>
            <p>
                The plugin automatically expose all useful imformation into
                your HTML only in pages/post/custom post that you have 
                enabled using dedicated menu.
            </p>
            <p>
                For more information around the Remote importer tool see
                <a href="/tools/remote-importer.html">here</a>.
            </p>
        </div>
    </div>
</div>