<div class="content">
    <div class="row">
        <div class="span12">
            <h1>Search [UpCloo Search]</h1>
            <p>
                UpCloo wordpress plugin have searches in the cloud.
            </p>
            <p>
                You have to add the UpCloo Search Widget moving it into a sidebar.
            </p>
            <h2>UpCloo Search Widget</h2>
            <p>
                The widget rewrite the normal wordpress searching system. For that reason 
                if you have any search boxes it works as UpCloo Search.
            </p>
        </div>
    </div>
</div>