<div class="content">
    <div class="row">
        <div class="span12">
            <h1>
                Template widget results by hand using UpCloo callback
            </h1>
            <p>
                You can show widgets results completely by hand using the UpCloo callback during 
                result templating.
            </p>
            <h2>The result hook</h2>
            <p>
                The hook that you have to use is: <code>upcloo_user_widget_callback</code>
            </p>
            <p>
                You have to configure your <code>functions.php</code> file into your active theme with the 
                UpCloo callback function. This function receive one parameter that is a list 
                of models (array) with UpCloo best results for your content.
            </p>
            <p>Check this quick example:</p>
            <pre class="prettyprint linenums">
//functions.php (theme)
function upcloo_user_widget_callback($listOfModels)
{
    //use the list of models as you need

    //return a string with the result
    return "This is my result";
}</pre>
            <h2>A simple real example</h2>
            <p>
                In this example we realize the template system for UpCloo results by hand using HTML 
                unsorted list (<code>ul</code>).
            </p>
            <pre class="prettyprint linenums">
function upcloo_user_widget_callback($listOfModels)
{
   //init the content variable
   $content = '';

   $content .= "&lt;h2&gt;Network results:&lt;/h2&gt;";

   $content .= "&lt;ul&gt;";
   foreach ($listOfModels as $element) {
       $content .= "&lt;li&gt;&lt;a href='{$element["url"]}'&gt;{$element["title"]}&lt;/a&gt;&lt;/li&gt;";
   }
   $content .= '&lt;/ul&gt;';

   return $content;
}</pre>
            <h2>Other notes</h2>
            <p>
                Consider that all UpCloo results URL is UTM tagged if you enable this feature.
            </p>
            <h2>List of models explanation</h2>
            <p>
                The list of models is an object with one property named <code>doc</code> that is an 
                array of results. If no results is provided the array is empty.
            </p>
            <p>
                Each node of doc is an array with different properties.
            </p>
            <pre class="prettyprint linenums">
array(10) {
  [0]=&gt;
  object(UpCloo_Model_Base)#4252 (1) {
    ["_container:protected"]=&gt;
    array(5) {
      ["title"]=&gt;
      string(36) "Nginx VS Apache2 on static resources"
      ["url"]=&gt;
      string(69) "http://walterdalmut.com/2011/10/nginx-vs-apache2-on-static-resources/"
      ["description"]=&gt;
      string(0) ""
      ["type"]=&gt;
      string(4) "post"
      ["image"]=&gt;
      string(0) ""
    }
  }
  [1]=&gt;
  object(UpCloo_Model_Base)#4251 (1) {
    ["_container:protected"]=&gt;
    array(5) {
      ["title"]=&gt;
      string(36) "Nginx VS Apache2 on static resources"
      ["url"]=&gt;
      string(72) "http://walterdalmut.com/2011/10/08/nginx-vs-apache2-on-static-resources/"
      ["description"]=&gt;
      string(140) "First of all comparison between Apache and Nginx are useless because the first one is process based and the second one is async event based."
      ["type"]=&gt;
      string(4) "post"
      ["image"]=&gt;
      string(0) ""
    }
  }</pre>
        </div>
    </div>
</div>