<div class="content">
    <div class="row">
        <div class="span12">
            <h1>UpCloo Liferay Plugin</h1>
            <p class="lead">
                Liferay plugin allows a complete integration with
                UpCloo services. 
            </p>
        </div>
        <div class="span12">
            <p class="lead">Coming Soon</p>
        </div>
    </div>
</div>