<div class="content">
    <div class="row">
        <div class="span12">
            <h1>UpCloo Typo3 Plugin</h1>
            <p class="lead">
                Typo3 plugin allows a complete integration with
                UpCloo services. 
            </p>
        </div>
        <div class="span12">
            <p class="lead">Coming Soon</p>
        </div>
    </div>
</div>