<div class="content">
    <section>
        <div class="row">
            <div class="span12">
                <h1>UpCloo WordPress Plugin</h1>
                <p>&nbsp;</p>
            </div>
            <div class="span6">
                <p>Useful links</p>
                <ul>
                    <li>Archives: <a target="_blank" href="https://github.com/corley/upcloo-wordpress-plugin/downloads">Download</a></li>
                    <li>Source code: <a target="_blank" href="https://github.com/corley/upcloo-wordpress-plugin">UpCloo WordPress Plugin.</a></li>
                    <li>Tags: <a target="_blank" href="https://github.com/corley/upcloo-wordpress-plugin/tags">Tag packages</a></li>
                </ul>
                <p>UpCloo WordPress Plugin is released under MIT license. <a href="/mit-license.html">See here</a></p>
            </div>
            <div class="span6">
                <p>For any problem you can send a ticket using the tracker.<p>
                <ul>
                    <li><a target="_blank" href="https://github.com/corley/upcloo-wordpress-plugin/issues">Bug Tracker</a></li>
                </ul>
            </div>
            <div class="span12">
                <p>Now you are ready to use UpCloo WordPress Plugin.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="span12">
            </div>
        </div>
    </section>
</div>