providers:
    sdk:
        provider: Sdk
        platform: wordpress
        issues: https://api.github.com/repos/upcloo/upcloo-wordpress-plugin/issues
    commits:
        provider: Commit
        api: https://api.github.com/repos/upcloo/upcloo-wordpress-plugin/commits
        repo: https://github.com/upcloo/upcloo-wordpress-plugin
---
<div class="content">
    <section>
        <div class="row">
            <div class="span12">
                <h1>UpCloo WordPress Plugin</h1>
                <p class="lead">
                    WordPress plugin allows a complete integration with
                    UpCloo services.
                </p>
            </div>
            <div class="span6">
                <h2>Issues list</h2>
                {% include '/../issues.twig' %}
            </div>
            <div class="span6">
                <h2>Latest Updates</h2>
                {% include '/../commits.twig' %}
            </div>
            {% include '/../github.twig' %}
        </div>
    </section>
    <section>
        <div class="row">
            <div class="span12">
                <h2>Install UpCloo Plugin</h2>
                <p>
                UpCloo is in the official WordPress repository. In order to use it you have just
                to search "UpCloo" in the plugin central and install it. After that:
                </p>
                <ul>
                    <li>Activate UpCloo plugin through Plugin Web Interface</li>
                    <li>That's all it is.</li>
                </ul>
                <h3>Configure the plugin</h3>
                <p>
                    UpCloo create a new menu tree. Use that menu for handling your personal settings.
                </p>
            </div>
        </div>
    </section>
</div>
