providers:
    sdk:
        provider: Sdk
        platform: wordpress
        issues: https://api.github.com/repos/corley/upcloo-wordpress-plugin/issues
    commits:
        provider: Commit
        api: https://api.github.com/repos/corley/upcloo-wordpress-plugin/commits
        repo: https://github.com/corley/upcloo-wordpress-plugin
---
<div class="content">
    <section>
        <div class="row">
            <div class="span12">
                <h1>UpCloo WordPress Plugin</h1>
                <p class="lead">
                    WordPress plugin allows a complete integration with
                    UpCloo services. 
                </p>
            </div>
            <div class="span6">
                <h2>Issues list</h2>
                {% include '/../issues.twig' %}
            </div>
            <div class="span6">
                <h2>Latest Updates</h2>
                {% include '/../commits.twig' %}
            </div>
            {% include '/../github.twig' %}
        </div>
    </section>
    <section>
        <div class="row">
            <div class="span12">
                <h2>Install UpCloo Plugin</h2>
                <p>Download the plugin using dedicated links <a href="#download">here</a>.</p>
                <ul>
                    <li>Upload the wp-upcloo folder into your WordPress plugin folder.</li>
                    <li>Activate UpCloo plugin through Plugin Web Interface</li>
                    <li>That's all it is.</li>
                </ul>
                <h3>Configure the plugin</h3>
                <p>
                    UpCloo create a new menu tree. Use that menu for handling your personal settings.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h1>Working on UpCloo WordPress Plugin</h1>
            </div>
            <div class="span6">
                <p>
                    <a href="/application/wordpress/template-results.html" class="big-text">Template Results</a> 
                    Using CSS techniques.
                </p>
                <p>
                    <a href="#" class="big-text">Template Results Rewrite</a> Using a completely 
                    personalized template.
                </p>
                <p>
                    <a href="#" class="big-text">Template Widget Results</a> Using a completely 
                    personalized template for widgets.
                </p>
                <p>
                    <a href="#" clasS="big-text">Template Search Results</a> Using a completely 
                    personalized template for search service.
                </p>            
            </div>
            <div class="span6">
                <p>
                    <a href="/application/wordpress/remote-importer.html" class="big-text">Enable Remote Importer</a> 
                    Activate the remote importer for enable the UpCloo crawler.
                </p>
                <p>
                    <a href="#" class="big-text">UpCloo Search</a> 
                    Activate UpCloo Search service.
                </p>
            </div>
        </div>
    </section>
</div>