<div class="content">
    <div class="row">
        <div class="span14">
            <h3>{{ this.providers.typeSpec.name|upper }} type specification.</h3>
            <p>
                Syntax: <code>{{ this.providers.typeSpec.syntax }}</code>
            </p>
            <p>{{ this.providers.typeSpec.description }}</p>
        </div>
    </div>
</div>