<div class="span6" id="download">
    <h2>Useful links</h2>
    <ul>
        <li>Code tags: <a target="_blank" href="{{ this.providers.sdk.tags }}">Download Tags</a></li>
        <li>Source code: <a target="_blank" href="{{ this.providers.sdk.sourcecode }}">See Tree</a></li>
        <li>Archives: <a target="_blank" href="{{ this.providers.sdk.download }}">Packages Downlaod</a></li>
    </ul>
    <p>UpCloo PHP SDK is released under MIT license. <a href="/mit-license.html">See here</a></p>
</div>
<div class="span6">
    <h2>Bug Tracking</h2>
    <p>For any problem you can send a ticket using the tracker.<p>
    <ul>
        <li><a target="_blank" href="{{ this.providers.sdk.issuesLink }}">Bug Tracker</a></li>
    </ul>
</div>