providers:
    sdk:
        provider: Sdk
        platform: js
        issues: https://api.github.com/repos/corley/upcloo-js-sdk/issues
    commits:
        provider: Commit
        api: https://api.github.com/repos/corley/upcloo-js-sdk/commits
        repo: https://github.com/corley/upcloo-js-sdk
---
<div class="content">
    <section>
        <div class="row">
            <div class="span12">
                <h1>UpCloo JavaScript SDK</h1>
                <p>&nbsp;</p>
            </div>
            <div class="span6">
                <h3>Issues list</h3>
                {% include '/../issues.twig' %}
            </div>
            <div class="span6">
                <h3>Latest Updates</h3>
                {% include '/../commits.twig' %}
            </div>
            {% include '/../github.twig' %}
            <div class="span12">
                <p>Now you are ready to use UpCloo JavaScript SDK.</p>
            </div>
        </div>
	</section>
	<div class="row">
		<div class="span12">
			<p class="lead">Coming soon...</p>
		</div>
	</div>
</div>