providers:
    sdk:
        provider: Sdk
        platform: js
        issues: https://api.github.com/repos/upcloo/upcloo-js-sdk/issues
    commits:
        provider: Commit
        api: https://api.github.com/repos/upcloo/upcloo-js-sdk/commits
        repo: https://github.com/upcloo/upcloo-js-sdk
---
<div class="content">
    <section>
        <div class="row">
            <div class="span12">
                <h1>UpCloo JavaScript SDK</h1>
                <p>&nbsp;</p>
            </div>
            <div class="span6">
                <h3>Issues list</h3>
                {% include '/../issues.twig' %}
            </div>
            <div class="span6">
                <h3>Latest Updates</h3>
                {% include '/../commits.twig' %}
            </div>
            {% include '/../github.twig' %}
            <div class="span12">
                <p>Now you are ready to use UpCloo JavaScript SDK.</p>
            </div>
        </div>
	</section>
	<div class="row">
        <h1 class="span12">Getting Started</h1>
        <div class="span6">
            <h2 class="lead"><a href="/sdk/js/how-it-works.html">How it Works</a></h2>
        </div>
		<div class="span12">
			<h2>In few words</h2>
			<p>
            <span class="label label-info">Heads up! </span> The Upcloo Javascript SDK allows you to simply
            and quickly embed the Upcloo correlation engine to your website and display relevant links for your contents.
			</p>
		</div>
		<div class="span12">
		 	<h3>Embed the snippet</h3>
			<p>
			First of all you have to embed the Javascript code snippet into the website's content pages were you want it
			to show upCloo's related links.
			</p>
			<pre class="prettyprint linenums">
&lt;div class='upcloo-widget' id="upcloo_1000"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
(function(g,d,id){
  upCloo = g.upCloo || [];
  upCloo.push(
    {
        "permalink" : "http://your-domain.tld/your-permalink/a-page.html",
        "siteKey" : "your-sitekey"
    }
  );
  var s = d.createElement('script') , n = d.getElementsByTagName('script')[0];
  s.type = 'text/javascript';
  s.async = true;s.id = id;
  s.src = '//r.upcloo.com/a/a.js';
  !d.getElementById(id) ? n.parentNode.insertBefore(s,n) :false;
})(this,document,'upcloo_js_sdk')
&lt;/script&gt;
</pre>
		<p>
		<em>Please note that the upcloo Js Snippet is loaded in an asyncronous way , so it will be downloaded in parallel with the other site's assets,
			this is done to minimize the snippet's impact on the site loading performance and prevents blocking the rendering of the page during down-time.
		</em>
		<p>
			The snippet can be placed anywere inside the <code><head></code> or the <code><body></code> of the web page, however we recommend including it
			at the bottom of the page , just before the <code></body></code> tag.
		</p>
		</p>
		<h3>Setting up required options</h3>
        	<p>
        		Those are the only two mandatory options that you must specify to enable upCloo for your website:
        	<br>
        	<code>permalink</code> The permalink of the current page , should be unique to a specific content page.
       		<br>
        	<code>siteKey</code> The upCloo website siteKey , this is the siteKey for your website that you will
        	get form upCloo upon registration.
       		</p>
	</div>
</div>
