providers:
    sdk:
        provider: Sdk
        platform: php
        issues: https://api.github.com/repos/upcloo/upcloo-php-sdk/issues
    commits:
        provider: Commit
        api: https://api.github.com/repos/upcloo/upcloo-php-sdk/commits
        repo: https://github.com/upcloo/upcloo-php-sdk
---
<div class="content">
    <section>
        <div class="row">
            <div class="span12">
                <h1>UpCloo PHP SDK</h1>
                <p>&nbsp;</p>
            </div>
            <div class="span6">
                <h3>Issues list</h3>
                {% include '/../issues.twig' %}
            </div>
            <div class="span6">
                <h3>Latest Updates</h3>
                {% include '/../commits.twig' %}
            </div>
            {% include '/../github.twig' %}
            <div class="span12">
                <p>Now you are ready to use UpCloo PHP SDK.</p>
            </div>
        </div>
    </section>
    <section class="sdk-sep">
        <div class="row">
            <div class="span12">
                <h2>Getting Started</h2>
                <p>
                    First of all you have to get the library using the <a href="/sdk/php/git-source.html">source tree</a>
                    , using the <a href="/sdk/php/phar.html">PHAR archives</a> or using our <a target="_blank" href="http://pear.corley.it">PEAR channel</a> or using <a href="/sdk/php/composer.html">Composer</a>.
                </p>
                <ul>
                    <li><a href="/sdk/php/composer.html">How to load UpCloo PHP SDK using Composer</a></li>
                    <li><a href="/sdk/php/git-source.html">How to load UpCloo PHP SDK using the source tree (GIT or copy-paste)</a></li>
                    <li><a href="/sdk/php/phar.html">How to load UpCloo PHP SDK using the PHAR archive</a></li>
                    <li><a href="/sdk/php/pear.html">How to load UpCloo PHP SDK using PEAR or Pyrus package manager</a></li>
                </ul>
            </div>
            <div class="span12">
                <h3>Load the library</h3>
                <p>
                    This library provides a simple autoloader.
                </p>
                <pre class="prettyprint linenums">
require_once 'path/to/UpCloo/Autoloader.php';</pre>
                <p>
                    UpCloo Autoloader uses the classmap strategy for
                    load all dependencies.
                </p>
                <p>
                    UpCloo PHP SDK is PSR-0 ready and if you want you
                    can use a PSR-0 Autolodaer instead uses the classmap.
                    An example with <code>Zend_Loader_Autoloader</code>
                    provided by Zend Framework (ZF)
                </p>
                <pre class="prettyprint linenums">
$autoloader = Zend_Loader_Autoloader::getInstance();
$autoloader->registerNamespace("UpCloo_");</pre>
                <p>
                    UpCloo SDK provides a section dedicated to
                    <a href="/sdk/php/zf.html">Zend Framework</a>
                    for simplify the integration process.
                </p>
                <h3>Setting up your credentials</h3>
                <p>
                    UpCloo SDKs is designed on Singleton pattern, for
                    more information around that design <a href="http://en.wikipedia.org/wiki/Singleton_pattern">see on wiki</a>.
                </p>
                <pre class="prettyprint linenums">
$manager = UpCloo_Manager::getInstance();
$manager->setCredential("it-xx00XXxxx");</pre>
                <p>
                    The <code>$manager</code> variable contains a valid
                    UpCloo instance.
                </p>
            </div>
            <div class="span12">
                <h3>Retrive indexed contents</h3>
                <p>
                    After a content indexing you can retrive it's correlation
                    using a <code>get</code> dedicated method.
                </p>
                <pre class="prettyprint linenums">
$correlations = $manager-&gt;get("content-id");</pre>
                <p>
                    Retriving relations is very simple, you send the content
                    identification string and retrive the contents list.
                    UpCloo choose the best for you.
                </p>
                <p>
                    Retriving correlations from a virtual sitekey is simple
                    as well as get directly from a sitekey.
                </p>
                <pre class="prettyprint linenums">
$correlations = $manager-&gt;get("content-id", "vsitekey");</pre>
            </div>
        </div>
    </section>
</div>
