<div class="content">
    <div class="row">
        <div class="span12">
            <h1>UpCloo Performances</h1>
            <h2 style="padding-top: 36px; border-top: 1px solid #e5e5e5;">UpCloo Correlation</h2>
        </div>
        <div class="span6">
            <p>
                Real UpCloo response time over a day. Y axis measure the time of 
                a complete request versus daily hours, starting from 00:00 to 
                23:59. All requests are under 52 [ms]
            </p>
            <p>
                This measure it's the <em>average</em> of the <strong>total time</strong>
                using a real UpCloo implementation.
            </p>
            <p>
                Consider that UpCloo uses a caching system based for reduce the
                amount of time needed to handle requests.
            </p>
        </div>
        <div class="span6">
            <img src="https://chart.googleapis.com/chart?cht=ls&chd=t:48.53,49.23,49.07,54.75,48.9,42.71,35.73,42.94,40.6,43.9,44.47,43.52,42.75,42.49,42.83,42.33,43.8,42.82,46.87,51.79,44.92,45.97,45.22,47.1&chs=600x300&chxt=x,y&chxl=0:|0|5|10|15|20|23|1:|0|25|50|75|100&chg=5,10,0,0&chdl=Response+Time+%5Bms%5D+vs+Hour+of+a+Day&chdlp=b&chtt=UpCloo" alt="performance" />
            
        </div>
    </div>
</div>