permalink: /documentation/searches
---
<div class="content">
    <div class="row">
        <div class="span14">
            <p>
                UpCloo Search is the search services provided by UpCloo cloud platform.
                Service highlights are:
            </p>
            <ul>
                <li><a href="#highlight">Highlight</a></li>
                <li><a href="#network">Network</a></li>
                <li><a href="#filters">Filters</a></li>
                <li><a href="#facets">Facets</a></li>
                <li><a href="#ranges">Ranges</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span14">
        	<h1 id="highlight">Highlight Feature</h1>
            The highlight feature adding a markup on search results based on your 
            query.
        </div>
        <div class="span8">
            <pre class="prettyprint">
query: intel core query
response:
 - intel &lt;strong&gt;cores&lt;/strong&gt;
 - intel &lt;strong&gt;queries&lt;/strong&gt; &lt;strong&gt;core&lt;/strong&gt; </pre>
        </div>
        <div class="span6">
            <p>The UpCloo "engine" highlight words handling by it self plural forms.</p>
            <p><small>UpCloo talks with you in XML. This representation is only a simple example.</small></p>
        </div>
    </div>
    <div class="row">
    	<div class="span14">
    		<h1 id="network">Network Feature</h1>
    		<p>
    		"Network" is the feature that allow you to create a phisical connection
    		between two or more completely different applications. Networks work also
    		if they are made with different programming languages, design, structure.
    		</p>
    		<p>
    			UpCloo create a result set using the best fit of your network
    			configuration. You have only to indicate a list of partners and
    			UpCloo do the remaning things. 
    		</p>
    	</div>
    </div>
    <div class="row">
    	<div class="span14">
    		<h1 id="facets">Filters</h1>
    		<p>
    			Filter is the <code>where</code> statement for UpCloo Search.
    			Everytime you have to filter your result set use this feature.
    			A common filter request is on <code>tags</code>, <code>categories</code>
    			and other fields you similiar properties. A request is a simple
    			<code>key, value</code> that implies the field to filter and
    			the value that it has.
    		</p>
    		<p>
    			<small>UpCloo handle no more that 5 filter in one request.</small>
    		</p>
		</div>
	</div>
    <div class="row">
    	<div class="span14">
    		<h1 id="facets">Facets</h1>
    		<p>
    			Faceting is a useful feature of UpCloo that's allow you to search for
    			something and create groups for your query. In simple words UpCloo group
    			and count using your <code>categories</code>, <code>tags</code> etc.
    		</p>
    	</div>
    	<div class="span8">
			<pre class="prettyprint">
news (1234)
posts (543)
green computing (1)</pre>
			<p>
				
			</p>
		</div>
		<div class="span6">
			<p>UpCloo group and count using <code>fields</code> that you request.</p>
			<p>UpCloo reply with labels that has al least one content.</p>
		</div>
		<div class="span14">
			<p>Using a facet is simple, request the same query adding a filter.</p>
		</div>
    </div>
    <div class="row">
    	<div class="span14">
    		<h1 id="ranges">Ranges</h1>
    		<p>
    			
    		</p>
		</div>
	</div>
</div>