permalink: /documentation/searches
---
<div class="content">
    <div class="row">
        <div class="span14">
            <p>
                UpCloo Search is the search services provided by UpCloo cloud platform.
                Service highlights are:
            </p>
            <ul>
                <li><a href="#highlight">Highlight</a></li>
                <li><a href="#network">Network</a></li>
                <li>Facets</li>
                <li>Ranges</li>
                <li>Filters</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span14">
        	<h1 id="highlight">Highlight Feature</h1>
            The highlight feature adding a markup on search results based on your 
            query.
        </div>
        <div class="span8">
            <pre class="prettyprint">
query: intel core query
response:
 - intel &lt;strong&gt;cores&lt;/strong&gt;
 - intel &lt;strong&gt;queries&lt;/strong&gt; &lt;strong&gt;core&lt;/strong&gt; </pre>
        </div>
        <div class="span6">
            The UpCloo "engine" highlight words handling by it self plural forms.
        </div>
    </div>
    <div class="row">
    	<div class="span14">
    		<h1 id="network">Network Feature</h1>
    		<p>
    		"Network" is the feature that allow you to create a phisical connection
    		between two or more completely different applications. Networks work also
    		if they are made with different programming languages, design, structure.
    		</p>
    		<p>
    			UpCloo create a result set using the best fit of your network
    			configuration. You have only to indicate a list of partners and
    			UpCloo do the remaning things. 
    		</p>
    	</div>
    </div>
</div>