<div class="content">
    <div class="row"><div class="span12"><h1>Documentation</h1></div></div>
    <div class="row">
        <div class="span12">
            <h1>XML REST SERVICE</h1>
            <p>
                UpCloo works using XML REST (web service).
            </p>
            <p>
                The UpCloo web service use HTTP operation for indicating
                your intentions on your dedicated index. HTTP header used:
            </p>
            <ul>
                <li><a href="#get">GET</a>
                    <ul>
                        <li>
                            This header indicates that you want to retrive a document
                            from your index
                        </li>
                    </ul>
                </li>
                <li><a href="#post">POST</a>
                    <ul>
                        <li>This header indicates that you want to insert or update a
                        content into existing index.</li>
                    </ul>
                </li>
                <li><a href="#delete">DELETE</a>
                    <ul>
                        <li>This header indicates that you want to remove an existing
                        content from your index.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>