<div class="content">
    <div class="row">
        <div class="span12">
            <h1>Getting Started Autocomplete</h1>
            <p>
                UpCloo Autocomplete is the feature that suggests possible search
                sentences to your users.
            </p>
            <p>
                You can integrate this feature with the <a href="/sdk/js.html">UpCloo JS SDK</a>.
            </p>
        </div>
    </div>
</div>