<div class="content">
    <div class="row">
        <div class="span12">
            <h1>UpCloo advanced features</h1>
            <p>
                UpCloo provides advanced features.
            </p>
            <ul>
                <li>Channels
                    <ul>
                        <li>In order to group type of content together</li>
                    </ul>
                </li>
            </ul>
            <h2>What means channel?</h2>
            <p>
            A channel is a sort of selector that can group information together.
            </p>
            <p>
            In order to enable this feature you need to add into pages that you want to
            group a meta element. The prototype is:
            </p>
            <pre class="prettyprint linenums">&lt;meta property="upcloo:channel" content="your-channel-name" /&gt;</pre>
            <p>
            The meta name should be "upcloo:channel" and the "content" property should be
            your personal group identifier.
            </p>
            <p>
            Suppose that you have three types of content.
            </p>
            <ul>
                <li>news</li>
                <li>review</li>
                <li>page</li>
            </ul>
            <p>
            You have just to add in all your news pages one meta like this
            </p>
            <pre class="prettyprint linenums">&lt;meta property="upcloo:channel" content="news" /&gt;</pre>
            <p>In your reviews</p>
            <pre class="prettyprint linenums">&lt;meta property="upcloo:channel" content="review" /&gt;</pre>
            <p>In your pages</p>
            <pre class="prettyprint linenums">&lt;meta property="upcloo:channel" content="page" /&gt;</pre>
        </div>
    </div>
</div>
