<div class="content">
    <div class="row">
        <div class="span12">
            <h1>Getting Started UpCloo Correlation</h1>
            <p>
                Integrating UpCloo services is very simple, first of all select
                an integration strategy using an available SDK or using raw XMLs.
            </p>
            <p>
                After that you have to follow this steps:
            </p>
            <ul>
                <li>
                    Add comment tags for the <a href="/tools/remote-importer.html">UpCloo Remote Importer</a>
                    <ul>
                        <li>
                            This particular importer creates for you the initial index and a valid
                            set of correlation. Tipically is more simple to append UpCloo meta tags
                            instead require a lot of indexes using the SDK directly.
                        </li>
                    </ul>
                </li>
                <li>
                    When the importer ends it work you have the initial index. You can try the index created
                    requesting for some correaltion using the <code>get()</code> method.
                </li>
                <li>
                    Using your <code>index()</code> method for adding and updating your index on a new
                    content or if you want to update one existing content.
                </li>
            </ul>
            <p>
                That's all it is. You can try the <code>get()</code> operation during the index generation
                as well as waiting that the importer ends but probably results are quite strange.
            </p>
        </div>
    </div>
</div>