<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>UpCloo Developers</title>
        <meta name="description" content="UpCloo Developers">
        <meta name="author" content="Corley S.r.l.">

        <!-- styles -->
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css"">
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        </style>
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/styles/default.css">
        <link rel="stylesheet" type="text/css" href="/styles/prettify.css">

    </head>
    <body>
        {% include 'layouts/topbar.twig'%}
        <div class="container">
            {{ content }}
            {% include 'layouts/footer.twig'%}
        </div>
        <!-- scripts -->
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
        <script type="text/javascript" src="/scripts/default.js"></script>
        <script type="text/javascript" src="/scripts/prettify.js"></script>
        <script>
            $(document).ready(function () {
                prettyPrint();
            
                $('.dropdown-toggle').dropdown()
            });
        </script>
    </body>
</html>

