<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>UpCloo Developers</title>
        <meta name="description" content="UpCloo Developers">
        <meta name="author" content="Corley S.r.l.">

        <!-- styles -->
        <link rel="stylesheet" href="/styles/bootstrap.min.css"">
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        </style>
        <link href="/styles/bootstrap-responsive.mincss" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/styles/default.css">
        <link rel="stylesheet" type="text/css" href="/styles/prettify.css">

    </head>
    <body>
        {% include 'layouts/topbar.twig'%}
        <div class="container">
            {{ content }}
            {% include 'layouts/footer.twig'%}
        </div>
        <!-- scripts -->
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/scripts/jquery-1.8.2.min.js"></script>
        <script src="/scripts/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/scripts/default.js"></script>
        <script type="text/javascript" src="/scripts/prettify.js"></script>
        <script>
            $(document).ready(function () {
                prettyPrint();

                $('.dropdown-toggle').dropdown()
            });
        </script>
        {% include 'analytics.twig' %}
    </body>
</html>

