<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">UpCloo developers</a>
            <form action="http://www.google.com/search?ie=UTF-8&" method="GET">
                <input type="text" placeholder="Search" name="q" value=""/>
            </form>
            <ul class="nav secondary-nav">
                <li><a href="/documentation">Documentation</a></li>
                <li><a href="/blog">Blog</a></li>
                <li class="menu">
                <a href="#" class="menu">SDKs</a>
                <ul class="menu-dropdown">
                    <li><a href="/php-sdk">PHP 5.2+</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">Java SE5</a></li>
                    <li><a href="#">.NET C#</a></li>                    
                    <li class="divider"></li>
                    <li><a href="#">iOS 4.2+</a></li>
                    <li><a href="#">Android 2.1+</a></li>
                </ul>
                </li>
                <li class="menu">
                    <a href="#" class="menu">Apps</a>
                    <ul class="menu-dropdown">
                        <li><a href="#">WordPress</a></li>
                        <li><a href="#">Joomla!</a></li>
                        <li><a href="#">Drupal</a></li>
                        <li><a href="#">Typo3</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Liferay</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
