<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a style="margin:0;padding:0" class="brand" href="/">
                <img src="/media/img/upcloo-small.png" alt="upcloo"/>
            </a>
            <a class="brand" href="/"> developers</a>
            <ul class="nav">
              <li><a href="/mit-license.html">License</a></li>
            </ul>
            <ul class="nav pull-right">
                <li class=""><a href="/documentation.html">Documentation</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#docs">
                        SDKs
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/sdk/php.html">PHP 5.2+</a></li>
                        <li><a href="/sdk/java.html">Java SE5</a></li>
                        <li><a href="/sdk/dot-net.html">.NET C#</a></li>
                        <li class="divider"></li>
                        <li><a href="/sdk/js.html">JavaScript</a></li>
                        <li class="divider"></li>
                        <li><a href="/sdk/ios.html">iOS 4.2+</a></li>
                        <li><a href="/sdk/android.html">Android 2.1+</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#sdks">
                        Applications
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/application/wordpress.html">WordPress</a></li>
                        <li><a href="/application/zf.html">Zend Framework App</a></li>
                        <li><a href="/application/joomla.html">Joomla!</a></li>
                        <li><a href="/application/drupal.html">Drupal</a></li>
                        <li><a href="/application/typo3.html">Typo3</a></li>
                        <li class="divider"></li>
                        <li><a href="/application/liferay.html">Liferay</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
