<div class="content">
    <div class="row">
        <div class="span12">
            <h1>Load UpCloo PHP SDK using GIT repository</h1>
            <p>
                UpCloo PHP SDK is developer with GIT support. The platform that
                hosts all UpCloo open-source project is <a target="_blank" href="https://github.com">Github</a>.
            </p>
            <p>
                UpCloo PHP SDK repository is located <a target="_blank" href="https://github.com/upcloo/upcloo-php-sdk">here</a>.
            </p>
            <h2>Clone the GIT repository</h2>
            <p>
                You can clone the project and interact with it, sending pull requests and all other thing,
                using the main repository.
            </p>
            <pre>
git clone git://github.com/upcloo/upcloo-php-sdk.git</pre>
            <p>
                Now you have the latest UpCloo PHP SDK library.
            </p>
            <p>
                Don't forget to update the library when new patches are applied or new features is
                released.
            </p>
            <pre>
git pull origin master</pre>
            <blockquote>
                Remember that the library has a particular structure. See it <a href="/sdk/php/structure.html">here</a>.
            </blockquote>
        </div>
    </div>
</div>
