<div class="content">
    <div class="row">
        <div class="span12">
            <h1>PHAR Archives</h1>
            <p>
                This SDK is compiled in a phar archive.
            </p>
            <p>
                The phar archive is useful for reduce the time of integration.
            </p>
            <h2>Usage</h2>
            <p>
                First of all download the latest PHAR archive from the download section.
                After that you can use directly into your softwares.
            </p>
            <pre class="prettyprint linenums">
require_once 'upcloo-sdk.phar';

$manager = UpCloo_Manager::getInstance();
$manager->setCredential("your-sitekey");</pre>
            <p>
                The PHAR archive start the library autoloader.
                You have only to use it for create new contents and get results.
            </p>
        </div>
    </div>
</div>
