<div class="content">
    <div class="row">
        <div class="span12">
            <h1>SDK structure</h1>
            <p>
                The SDK have a simple structure. Actually is divided in four folders
            </p>
            <ul>
                <li><code>src</code></li>
                <li><code>pack</code></li>
                <li><code>tests</code></li>
                <li><code>vendor</code></li>
            </ul>
            <p>
                The first one <code>src</code> contains the source code of the library.
            </p>
            <p>
                The second one <code>pack</code> the source code for packing the library in PHAR archives.
            </p>
            <p>
                The third one <code>tests</code> the <code>phpunit</code> tests.
            </p>
            <p>
                The fourth one external libraries.
            </p>
        </div>
    </div>
</div>