permalink: blog/
providers:
    blog:
        provider: Blog
---
<div class="content">
    <section>
        <div class="row">
            <div class="span12">
                <h1>UpCloo Developers Blog.</h1>
                <p class="lead">
                    UpCloo is a cloud based and fully hosted
                    indexing engine that helps you to create incredible
                    and automatic correlations between contents of your website.
                </p>
            </div>
            <div class="span8">
            {% for entry in this.providers.blog %}
                <div class="span8" style="margin: 5px 0 5px;">
                    <div class="posted-date date-box">
                        <span class="month">{{ entry.month }}</span>
                        <span class="day">{{ entry.day }}</span>
                    </div>
                    <a target="_blank" href="{{ entry.link }}">{{ entry.title }}</a>
                </div>
            {% endfor %}
            </div>
            <div class="span4">
                <h4>Search (UpCloo Search)</h4>
                <form method="post" action="http://www.walterdalmut.com/">
                    <input type="text" class="span3" placeholder="Search" />
                </form>
                <h4>Useful links</h4>
                <ul>
                    <li><a target="_blank" href="http://www.corley.it">Corley.it</a></li>
                    <li><a target="_blank" href="http://www.upcloo.com">UpCloo.com</a></li>
                    <li><a target="_blank" href="https://www.github.com/corley">Corley on GitHUB</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>