permalink: blog/
---
<div class="content">
    <section>
        <div class="row">
            <div class="span12">
                <p>Welcome to blog...</p>
            </div>
        </div>
    </section>
</div>