<div class="content">
    <div class="row"><div class="span12"><h1>Documentation</h1></div></div>
    <div class="row">
        <div class="span12">
            <h3>UpCloo services</h3>
            <p>
                All UpCloo parts that interacts with your business are
                open-source. With this choice we want to demonstrate how
                we work and our passion during code design.
            </p>
            <ul>
                <li><a href="/documentation/correlations.html">Correlation</a></li>
                <li><a href="/documentation/searches.html">Searches</a></li>
                <li><a href="/documentation/autocomplete.html">Autocomplete</a></li>
            </ul>
            <p>
                All UpCloo SDKs and plugins are released under <a href="/mit-license.html">MIT license</a> where not
                otherwise specified.
            </p>
            <p>
                If you are interested on perfomances of UpCloo over the network: 
                <a href="/documentation/performance.html">see here</a>
            </p>
        </div>
    </div>
    <div class="row line-bottom">
        <div class="span6">
            <p>
                <a href="/documentation/getting-started/correlation.html" class="big-text">Getting Started with Correlation</a>
                The tipical flow that you have to follow for add the correlation
                service to your business.
            </p>
        </div>
        <div class="span6">
            <p>
                <a href="/documentation/getting-started/search.html" class="big-text">Getting Started with Search</a>
                The tipical flow that you have to follow for add the search service
                to your business.
            </p>
        </div>
        <div class="span6">
            <p>
                <a href="#" class="big-text">Getting Started with Autocomplete</a>
                The tipical flow that you have to follow for add the autocomplete
                service to your business.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h3>UpCloo Operations</h3>
        </div>
        <div class="span6">
            <h3 id="types">UpCloo Types Definition</h3>
        </div>
        <div class="span6">
            <p>
                UpCloo is designed around an index. You can
                interact with this index using dedicated <a href="/documentation/xml-rest-service.html">XML REST service</a>.
            </p>
            <ul>
                <li><a href="/documentation/rest/get.html">Retrive (GET)</a></li>
                <li><a href="/documentation/rest/index.html">Insert (INDEX)</a></li>
                <li><a href="/documentation/rest/index.html">Update (INDEX)</a></li>
                <li><a href="/documentation/rest/delete.html">Invalidation (DELETE)</a></li>
            </li>
            </ul>
            <p>
                For simplify your work, you can choose an already available SDK. An SDK wrap the XML REST
                service for integrating UpCloo quickly into an existing application.
            </p>
        </div>
        <div class="span6">
            <p>
                UpCloo use a NOSQL database. Our database is strongly-typed and you 
                have to use a correct field type for all your injections. 
            </p>
            <ul>
                <li><a href="/documentation/types/string.html">string</a></li>
                <li><a href="/documentation/types/integer.html">Integer</a></li>
                <li><a href="/documentation/types/decimal.html">Decimal</a></li>
                <li><a href="/documentation/types/dates-times.html">Dates and Times</a></li>
                <li><a href="/documentation/types/texts.html">Texts</a></li>
            </ul>
            <p>
                UpCloo types follow tipical high-level programming language variables types.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h3 id="fields">UpCloo Fields Definition</h3>
        </div>
        <div class="span6">
            <h3>UpCloo Dynamic Fields</h3>
        </div>
        <div class="span6">
            <p>
                Understanding how UpCloo treats your fields.
            </p>
            <ul>
                <li><a href="/documentation/fields/id.html">id</a></li>
                <li><a href="/documentation/fields/title.html">title</a></li>
                <li><a href="/documentation/fields/publish-date.html">publish date</a></li>
                <li><a href="/documentation/fields/summary.html">summary</a></li>
                <li><a href="/documentation/fields/content.html">content</a></li>
                <li>tag</li>
                <li>category</li>
            </ul>
        </div>
        <div class="span6">
            <p>UpCloo dynamic fields for get more power</p>
            <ul>
                <li>tag</li>
                <li>text</li>
                <li>date</li>
                <li>int</li>
                <li>decimal</li>
            </ul>
        </div>
    </div>
</div>