<div class="content">
    <div class="row"><div class="span12"><h1>Documentation</h1></div></div>
    <div class="row">
        <div class="span12">
            <h3>UpCloo services</h3>
            <p>
                All UpCloo parts that interacts with your business are
                open-source. With this choice we want to demonstrate how
                we work and our passion during code design.
            </p>
            <ul>
                <li><a href="/documentation/correlations.html">Correlation</a></li>
            </ul>
            <p>
                All UpCloo SDKs and plugins are released under <a href="/mit-license.html">MIT license</a> where not
                otherwise specified.
            </p>
            <p>
                If you are interested on perfomances of UpCloo over the network:
                <a href="/documentation/performance.html">see here</a>
            </p>
        </div>
    </div>
    <div class="row line-bottom">
        <div class="span6">
            <p>
                <a href="/documentation/getting-started/upcloo-concept.html" class="big-text">How does it work?</a>
                This section explain basics about the UpCloo technology.
            </p>
        </div>
        <div class="span6">
            <p>
                <a href="/documentation/getting-started/correlation.html" class="big-text">Advanced features</a>
                The tipical flow that you have to follow to add the correlation
                service to your business.
            </p>
        </div>
        <div class="span6">
            <p>
                <a href="/documentation/getting-started/correlation.html" class="big-text">Best Practices</a>
                Check out a list of useful best practices when you integrate
                UpCloo in your web pages:
            </p>
            <ul>
                <li><a href="/documentation/best-practice/simple-proxy.html">
                    Add cache layer on server side-integration</a></li>
            </ul>
        </div>

    </div>
</div>
