permalink: documentation/
---
<div class="content">
    <div class="row">
        <div class="span14">
            <h3>UpCloo services</h3>
            <p>
                All UpCloo parts that interacts with your business are
                opensource. With this choice we want to demonstrate how
                we work and our passion during code design.
            </p>
            <ul>
                <li><a href="/documentation/correlations.html">Correlation</a></li>
                <li><a href="/documentation/searches.html">Searches</a></li>
                <li><a href="/documentation/autocomplete.html">Autocomplete</a></li>
            </ul>
            <p>
                All UpCloo SDKs and plugins are released under <a href="/mit-license.html">MIT license</a> where not
                otherwise specified.
            </p>
        </div>
        <div class="span14">
            <h3>UpCloo Fields Definition</h3>
        </div>
        <div class="span8">
            <p>
                Understanding how UpCloo treats your fields.
            </p>
            <ul>
                <li>id</li>
                <li>title</li>
                <li>publish_date</li>
                <li>summary</li>
                <li>content</li>
                <li>tag</li>
                <li>category</li>
            </ul>
        </div>
        <div class="span6">
            <p>UpCloo dynamic fields for get more power</p>
            <ul>
                <li>tag</li>
                <li>text</li>
                <li>date</li>
                <li>int</li>
                <li>decimal</li>
            </ul>
        </div>
    </div>
</div>