permalink: documentation/
---
<div class="content">
    <div class="row">
        <div class="span12">
            <h3>UpCloo services</h3>
            <p>
                All UpCloo parts that interacts with your business are
                opensource. With this choice we want to demonstrate how
                we work and our passion during code design.
            </p>
            <ul>
                <li><a href="/documentation/correlations.html">Correlation</a></li>
                <li><a href="/documentation/searches.html">Searches</a></li>
                <li><a href="/documentation/autocomplete.html">Autocomplete</a></li>
            </ul>
            <p>
                All UpCloo SDKs and plugins are released under <a href="/mit-license.html">MIT license</a> where not
                otherwise specified.
            </p>
        </div>
        <div class="span12">
            <h3>UpCloo Operations</h3>
        </div>
        <div class="span12">
            <p>
                UpCloo is designed around an index that works. You can
                interact with this index using dedicated <a href="/documentation/xml-rest-service.html">XML REST service</a>.
            </p>
            <ul>
                <li>Retrive</li>
                <li>Insert</li>
                <li>Update</li>
                <li>Delete</li>
            </li>
        </div>
        <div class="span12">
            <h3>UpCloo Types Definition</h3>
        </div>
        <div class="span12">
            <ul>
                <li><a href="/documentation/types/string.html">string</a></li>
                <li><a href="/documentation/types/integer.html">Integer</a></li>
                <li><a href="/documentation/types/decimal.html">Decimal</a></li>
                <li><a href="/documentation/types/dates-times.html">Dates and Times</a></li>
                <li><a href="/documentation/types/texts.html">Texts</a></li>
            </ul>
        </div>
        <div class="span12">
            <h3>UpCloo Fields Definition</h3>
        </div>
        <div class="span6">
            <p>
                Understanding how UpCloo treats your fields.
            </p>
            <ul>
                <li><a href="/documentation/fields/id.html">id</a></li>
                <li><a href="/documentation/fields/title.html">title</a></li>
                <li><a href="/documentation/fields/publish-date.html">publish date</a></li>
                <li><a href="/documentation/fields/summary.html">summary</a></li>
                <li><a href="/documentation/fields/content.html">content</a></li>
                <li>tag</li>
                <li>category</li>
            </ul>
        </div>
        <div class="span6">
            <p>UpCloo dynamic fields for get more power</p>
            <ul>
                <li>tag</li>
                <li>text</li>
                <li>date</li>
                <li>int</li>
                <li>decimal</li>
            </ul>
        </div>
    </div>
</div>