layout: default.twig
---
<div class="content">
    <header>
        <div class="row">
            <div class="span12">
                <h1>UpCloo for developers</h1>
                <p class="lead">Learn how you can get the best from your contents</p>
            </div>
        </div>
    </header>
    <section>
        <div class="row">
            <div class="span12">
                <h3 class="">Discover how is simple to integrate UpCloo 
                services into your existing applications</h3>
                <p>UpCloo is provided with a large set of SDKs and Plugins</p>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="span6">
                <pre class="prettyprint linenums">
    $manager = UpCloo_Manager::getInstance(); // Retrive the manager
    $manager->index(array(...)); // Index contents
    $results = $manager->get("id"); // Retrive contents</pre>
            </div>
            <div class="span6">
                <p>
                    All UpCloo SDKs are designed around
                    the Singleton pattern. This particular
                    strategy allows you to get the UpCloo
                    manager everywhere into your code and
                    stay focused on your business logic
                </p>
            </div>
            <div class="span12">
                <p>
                    Serveral application plugins are designed for using
                    UpCloo services. Starting for WordPress, Joomla! to
                    Liferay. 
                </p>
            </div>
            <div class="span12">
                <p>
                    Also mobile SDKs are available for UpCloo services.
                    Actually iOS and Android application can use a 
                    dedicated library for integrating UpCloo services.   
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="span12">
                <p><span class="label label-info">Heads up</span> Obviously you can use a simple 
                <code>XML REST</code> service for get your UpCloo integration.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="span12">
                <h3>Searches in the cloud now is more simple</h3>
                <p>
                    UpCloo has a dedicated searching system.
                </p>
            </div>
            <div class="span6">
                <pre class="prettyprint linenums">
$searchQuery = $manager->search()->query("search this");
$manager->get($searchQuery);</pre>
            </div>
            <div class="span6">
                <p>
                    If you are looking for something into your dedicated
                    index, you have to create a valid query using <code>search</code>
                    method and request for results using <code>get</code> method.  
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <p>
                    You can follow UpCloo <a target="_blank" href="http://www.upcloo.com">here</a>
                    or if you want on <a target="_blank" href="http://www.upcloo.com/twitter">twitter</a>
                </p>
            </div>
        </div>
    </section>
</div>