layout: default.twig
providers:
    blog:
        provider: Blog
---
<div class="content">
    <header class="start">
        <div class="row">
            <div class="span6 head-index-text">
                <h1 class="lead">Learn how you can get the best from your contents.</h1>
                <h1 class="lead">For all operating systems, for all platforms.</h1>
            </div>
            <div class="span6">
                <img src="/media/img/t.png" alt="upcloo-logo" class="pull-right"/>
            </div>
        </div>
    </header>
    <section class="start">
        <div class="row">
            <div class="span12">
                <h3 class="">Discover how it's simple to integrate UpCloo 
                services into your existing applications</h3>
                <p>UpCloo is provided with a large set of SDKs and Plugins</p>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <img src="/media/img/icon-github.png" alt="github" class="icon-left"/>
                <h3>Open-source</h3>
                <p>
                    All UpCloo plugins and tools for
                    your business is released as Open-source projects for
                    give to you the ability to evaluate us. See all projects
                    on <a href="https://github.com/corley">Github</a>.
                </p>
            </div>
            <div class="span6">
                <img src="/media/img/icon-twitter.png" alt="twitter" class="icon-left"/>
                <h3>Twitter for Updates</h3>
                <p>
                    Follow us on <a href="https://www.twitter.com/CorleyCloud">Twitter</a>
                    for get all the latest news on UpCloo.
                </p>
                <p>
                    Share this with your friends.
                </p>
                <p>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://developer.upcloo.com" data-via="CorleyCloud" data-related="CorleyCloud" data-count="none" data-hashtags="UpClooDevelopers">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                {% for entry in this.providers.blog %}
                <div class="span6" style="margin: 5px 0 5px;">
                    <div class="posted-date date-box">
                        <span class="month">{{ entry.pubDate|date("M") }}</span>
                        <span class="day">{{ entry.pubDate|date("d") }}</span>
                    </div>
                    <a target="_blank" href="{{ entry.link }}">{{ entry.title }}</a>
                </div>
            {% endfor %}
                <div class="span6" style="margin-top: 36px">
                    <p><a target="_blank" href="http://www.corley.it/blog">See all posts on Corley Blog...</a></p>
                </div>
            </div>
            <div class="span6">
                <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#f1f1f1',
      color: '#3d353d'
    },
    tweets: {
      background: '#ffffff',
      color: '#1f1f1f',
      links: '#915791'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('CorleyCloud').start();
</script>
            </div>
        </div>
    </section>
</div>