<div class="content">
    <div class="row">
        <div class="span12">
            <h1>UpCloo Remote Importer</h1>
            <p>
             	UpCloo remote importer it the UpCloo simple spider that get
				your contents for create the initial index.
            </p>
        </div>
    </div>
</div>
